.board{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    height: 500px;
    width: 500px;
    perspective: 20em;
}

.row{
    display: flex;
}

.square{
    height: 100%;
    width: 100%;
}