.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  width: 500px !important;
  margin: auto;
   padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
}

card:hover {
  transform: perspective(800px) rotateY(-4deg);
}
.location h2 {
  font-weight: 600;
}

.weather img {
  width: 30%;
}
.weather h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.whp .data {
  font-size: 1.5rem;
  font-weight: 600;
}

.whp .unit {
  font-size: 0.8rem;
}
