h1{
    font-weight: normal;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    background-color: white;
    color: #000;
    box-shadow: 3px 5px 6px -2px #000, -6px -7px 6px -2px #ecdede;
    perspective: 50em;
}

.meme{
    width: 95%;
}

.child{
    margin: 0.2em 0 0.5em 0.2em;
    text-align: start;
}

